version: "3.8"
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: gokulviveka/devops-build:latest
    ports:
      - "80:80"
    restart: unless-stopped
    environment:
      - PORT=80
